<script src="https://kit.fontawesome.com/4fc272cd61.js" crossorigin="anonymous"></script>
@model Equipe
@{
    ViewData["title"] = "Equipes";
}

<section class="container_titulo">
    <div class="box_titulo">
        <h1>Cadastro de Times</h1>
    </div>
</section>

<section class="container_cadastrar">
    <form method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data"> 
        <div class="box_info_equipe">
            <div class="box_cadastro">
                <span>ID</span>
                <input type="text" name="Id_equipe" class="equipe">
                <span>Nome da Equipe</span>
                <input type="text" name="Nome" class="equipe">
                <span>Emblema</span>
                <input type="file" name="Imagem" class="Emblema">
                
                <div class="botao_cadastro">
                    <a href=""><button>Cadastrar</button></a>
                </div>
            </div>
        </div>
    </form> 

    <div class="tabela_times">
        <table>
            <thead class="linha_1">
                <th>Id</th>
                <th>Nome</th>
                <th>Logo</th>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Equipes)
                {
                    <tr>
                        <td>@item.Id_equipe</td>
                        <td>@item.Nome</td>
                        <td><img src="/img/Equipes/@item.Imagem" alt="Imagem da Equipe @item.Nome" width="50px"></td>
                        <td><a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@item.Id_equipe"><i class="fas fa-trash"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>  
</section>